<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
<html lang="en">
  <head></head>
  <div
    id="__react-email-preview"
    style="
      display: none;
      overflow: hidden;
      line-height: 1px;
      opacity: 0;
      max-height: 0;
      max-width: 0;
    "
  >
    <div>
       ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿
    </div>
  </div>

  <body
    style="
      background-color: #ffffff;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
        Cantarell, 'Helvetica Neue', sans-serif;
    "
  >
    <table
      style="
        background-color: #ffffff;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
          Cantarell, 'Helvetica Neue', sans-serif;
      "
      align="center"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
      width="100%"
    >
      <tbody>
        <tr>
          <td>
            <table
              align="center"
              role="presentation"
              cellspacing="0"
              cellpadding="0"
              border="0"
              width="100%"
              style="max-width: 37.5em; margin: 0 auto; padding: 20px 0 48px; width: 580px"
            >
              <tr style="width: 100%">
                <td>
                  <table
                    align="center"
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    role="presentation"
                    width="100%"
                  >
                    <tbody>
                      <tr>
                        <td>
                          <img
                            alt="BCDB"
                            src="https://res.cloudinary.com/dnv9akklf/image/upload/v1686511395/LOGO_BCDB_qvjabt.png"
                            style="
                              display: block;
                              outline: none;
                              border: none;
                              text-decoration: none;
                              margin: 0;
                              padding: 0;
                              max-width: 30%;
                              height: auto;
                            "
                          />

                          <p
                            style="
                              font-size: 26px;
                              line-height: 1.3;
                              margin: 16px 0;
                              font-weight: 700;
                              color: #484848;
                            "
                          >
                            Festival de la Luz 🙌🏻 🎶
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- <table
                            align="center"
                            border="0"
                            cellpadding="0"
                            cellspacing="0"
                            role="presentation"
                            width="100%"
                          >
                            <tbody>
                              <tr>
                                <td>
                                <p
                                style="
                                  font-size: 32px;
                                  line-height: 1.3;
                                  margin: 16px 0;
                                  font-weight: 700;
                                  color: #484848;
                                "
                              >
                                ¡Hola, ${name} ! Tienes una nueva presentación con la BCDB.
                              </p>
                                </td>
                              </tr>
                            </tbody>
                          </table> -->
                  <table
                    style="padding-bottom: 20px"
                    align="center"
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    role="presentation"
                    width="100%"
                  >
                    <tbody>
                      <tr>
                        <td>
                          <table
                            width="100%"
                            align="center"
                            role="presentation"
                            cellspacing="0"
                            cellpadding="0"
                            border="0"
                          >
                            <tbody style="width: 100%">
                              <tr style="width: 100%">
                                <p
                                  style="
                                    font-size: 32px;
                                    line-height: 1.3;
                                    margin: 16px 0;
                                    font-weight: 700;
                                    color: #484848;
                                  "
                                >
                                  ¡Hola, ${name} ! Tienes una nueva presentación con la BCDB.
                                </p>
                                <p
                                  style="
                                    font-size: 18px;
                                    line-height: 1.4;
                                    margin: 16px 0;
                                    color: #484848;
                                    padding: 24px;
                                    background-color: #f2f3f3;
                                    border-radius: 4px;
                                  "
                                >
                                  “Esperamos que este correo le encuentre lleno de entusiasmo y
                                  listo/a para unirse a una nueva presentación. Nos complace
                                  anunciarle que se avecina una increíble presentación y queremos
                                  contar con cada uno de ustedes para hacer de este evento un
                                  verdadero éxito.”
                                </p>
                                <p
                                  style="
                                    font-size: 18px;
                                    line-height: 1.4;
                                    margin: 16px 0;
                                    color: #484848;
                                  "
                                >
                                  Fecha: ${formattedDate}
                                </p>
                                <p
                                  style="
                                    font-size: 18px;
                                    line-height: 1.4;
                                    margin: 16px 0;
                                    color: #484848;
                                  "
                                >
                                  Hora: ${formattedTime}
                                </p>
                                <p
                                  style="
                                    font-size: 18px;
                                    line-height: 1.4;
                                    margin: 16px 0;
                                    color: #484848;
                                  "
                                >
                                  Lugar: ${eventData.place}
                                </p>
                                <p
                                  style="
                                    font-size: 18px;
                                    line-height: 1.4;
                                    margin: 16px 0;
                                    color: #484848;
                                    padding-bottom: 16px;
                                  "
                                >
                                  Descripción del evento: ${eventData.description}
                                </p>

                                <p
                                  style="
                                    font-size: 18px;
                                    line-height: 1.4;
                                    margin: 16px 0;
                                    color: #484848;
                                    padding-bottom: 16px;
                                  "
                                >
                                  ¡Sigamos haciendo música y preparémonos para ofrecer una
                                  presentación inolvidable! ¡Nos vemos pronto!
                                </p>

                                <a
                                  href="https://bandacedesdonbosco.com/"
                                  target="_blank"
                                  style="
                                    background-color: #293964;
                                    border-radius: 3px;
                                    color: #fff;
                                    font-size: 18px;
                                    text-decoration: none;
                                    text-align: center;
                                    display: inline-block;
                                    width: 100%;
                                    p-y: 19px;
                                    line-height: 100%;
                                    max-width: 100%;
                                    padding: 19px 0px;
                                  "
                                  ><span
                                    ><!--[if mso
                                      ]><i
                                        style="
                                          letter-spacing: undefinedpx;
                                          mso-font-width: -100%;
                                          mso-text-raise: 28.5;
                                        "
                                        hidden
                                        >&nbsp;</i
                                      ><!
                                    [endif]--></span
                                  ><span
                                    style="
                                      background-color: #293964;
                                      border-radius: 3px;
                                      color: #fff;
                                      font-size: 18px;
                                      text-decoration: none;
                                      text-align: center;
                                      display: inline-block;
                                      width: 100%;
                                      p-y: 19px;
                                      max-width: 100%;
                                      line-height: 120%;
                                      text-transform: none;
                                      mso-padding-alt: 0px;
                                      mso-text-raise: 14.25px;
                                    "
                                    >Ver más</span
                                  ><span
                                    ><!--[if mso
                                      ]><i
                                        style="letter-spacing: undefinedpx; mso-font-width: -100%"
                                        hidden
                                        >&nbsp;</i
                                      ><!
                                    [endif]--></span
                                  ></a
                                >
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <hr
                    style="
                      width: 100%;
                      border: none;
                      border-top: 1px solid #eaeaea;
                      border-color: #cccccc;
                      margin: 20px 0;
                    "
                  />
                  <table
                    align="center"
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    role="presentation"
                    width="100%"
                  >
                    <tbody>
                      <tr>
                        <td>
                          <table
                            width="100%"
                            align="center"
                            role="presentation"
                            cellspacing="0"
                            cellpadding="0"
                            border="0"
                          >
                            <tbody style="width: 100%">
                              <tr style="width: 100%">
                                <p
                                  style="
                                    font-size: 14px;
                                    line-height: 24px;
                                    margin: 16px 0;
                                    color: #9ca299;
                                    margin-bottom: 10px;
                                  "
                                >
                                  Copyright © 2023 Banda CEDES Don Bosco. Todos los derechos
                                  reservados
                                </p>
                                <a
                                  target="_blank"
                                  style="
                                    color: #9ca299;
                                    text-decoration: underline;
                                    font-size: 14px;
                                  "
                                  href="https://bandacedesdonbosco.com/"
                                ></a>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
